.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}

.time {
    font-size: 3em;
    color: darkblue;
}

.stepsCounter {
    color: blue;
}

.steps {
    font-size: 2em;
}

.blackHole {
    background: saddlebrown;
}

.glue {
    background: lightblue;
}

.wall {
    background: black;
}
.target{
    background: #fabfab;
}

h1 {
    color: #d54d7b;
    font-size: 4em; 
    font-weight: bold;
    text-align: left;
    text-shadow: 0 5px 5px #cf3065;
}

.noselect {
    -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none;  /* Chrome/Safari/Opera */
    -khtml-user-select: none;   /* Konqueror */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Non-prefixed version, currently
                                not supported by any browser */
}